body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
div{
    text-align: justify;
}
h1{
    font-size: 50px;

}
marquee{
    font-size: 60px;
    color: #b31aff;
    font-weight: 900;
}
.color-green{
    color: rgb(66, 245, 66);
}
.uper-button{
    font-size: 20x;
    box-sizing: content-box;
}
.flexible-container{
    display: flex;
    padding-bottom: 100px;
}
.half-width{
width: 50%;
    padding-right: 10%;
    padding-left: 2%;
}
.half-width image{
    width: 80%;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-color:  #e6e6e6;
}
.link-button{
    background-image: linear-gradient(#ff8c1a, #ff3300);
    padding: 10px 40px;
    text-decoration: none;
    color: papayawhip;
    border-radius: 45%;
}
.my-recipi{
    text-align: center;
}