body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
div{
    text-align: justify;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
marquee{
    font-size: 60px;
    color: #b31aff;
    font-weight: 900;
}
.color-green{
    color: rgb(66, 245, 66);
}
.uper-button{
    font-size: 50px;
    box-sizing: content-box;
    font-weight: 700;
}
.flexible-container{
    display: flex;
    padding-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-right: 2%;
    padding-left: 2%;
}
.half-width image{
    width: 80%;
}
.top-banner{
    padding-bottom: 100px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-color:  #e6e6e6;
    padding-bottom: 100px;
}
.link-button{
    background-image: linear-gradient(#ff8c1a, #ff3300);
    padding: 10px 40px;
    text-decoration: none;
    color: papayawhip;
    border-radius: 45%;
}
.button-foodfun{
    background-image: linear-gradient(#ff8c1a, #ff3300);
    text-decoration: none;
    color: papayawhip;
    border-radius: 10%;
}
.my-recipies{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 100px;
    padding-top: 60px;
}
.subscriber-follower{
    text-align: center;
    width: 50%;
    padding-right: 2%;
    padding-left: 2%;
}
.recipie-item{
    width:60%;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
    border-radius: 10%;
    box-shadow: 10px 10px 40px #ff8c1a;
}
.footer-place{
    text-align: center;
    background-color: 	#404040;
}
